.update-product-root {
  --update-product-primary-color: #1f3b82; /* Azul oscuro */
  --update-product-secondary-color: #1a74db; /* Azul */
  --update-product-text-color: #ffffff; /* Blanco */
  --update-product-card-bg-color: #ffffff; /* Fondo de la tarjeta */
  --update-product-border-color: #ced4da; /* Color del borde */
  --update-product-shadow-color: rgba(0, 0, 0, 0.1); /* Sombra */
}

.update-product-page {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  min-height: 100vh;
  padding-bottom: 95px; 
}

.update-product-content-container {
  display: flex;
  flex-grow: 1;
}

.update-product-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; /* Ajuste para el sidebar */
  padding: 20px;
}

.update-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.update-product-header h2 {
  color: var(--update-product-primary-color);
}

.update-product-form-container {
  display: flex;
  justify-content: center;
}

.update-product-form {
  width: 100%;
  max-width: 800px;
  background-color: var(--update-product-card-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--update-product-shadow-color);
}

.update-product-form-group {
  margin-bottom: 1.5rem;
}

.update-product-form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.update-product-form-group input,
.update-product-form-group textarea,
.update-product-form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--update-product-border-color);
  border-radius: 5px;
  font-size: 1rem;
}

.update-product-checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.update-product-checkbox-group label {
  display: flex;
  align-items: center;
}

.update-product-checkbox-group input {
  margin-right: 10px;
}

.update-product-buttons {
  display: flex;
  justify-content: space-between;
}

.update-product-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--update-product-text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.update-product-btn-secondary {
  background-color: #6c757d;
}

.update-product-btn-primary {
  background-color: var(--update-product-secondary-color);
}

@media (max-width: 768px) {
  .update-product-main-content {
    margin-left: 0;
    padding: 10px;
  }

  .update-product-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .update-product-btn {
    width: 100%;
    text-align: center;
  }

  .update-product-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
