:root {
  --primary-color: #1f3b82;
  --secondary-color: #1a74db;
  --text-color: #ffffff;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
}

.edit-user-page {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.form-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: var(--card-bg-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-bottom: 60px; /* Añadido para evitar solapamiento con el footer */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #333;
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary {
  background-color: #6c757d;
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.text-center {
  text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h1 {
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
