.admin-footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegurar que el footer esté por encima del contenido */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-text {
  flex: 1;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--secondary-color);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-content .footer-text {
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }
}
