:root {
  --admin-primary-color: #1f3b82; /* Azul oscuro */
  --admin-secondary-color: #1a74db; /* Azul */
  --admin-text-color: #ffffff; /* Blanco */
  --admin-table-bg-color: #f8f9fa; /* Fondo de tabla */
  --admin-warning-color: #ffc107; /* Amarillo */
  --admin-danger-color: #dc3545; /* Rojo */
}

.admin-categories-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px; /* Ajuste para el navbar */
}

.admin-content {
  display: flex;
  flex-grow: 1;
}

.admin-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; /* Ajuste para el sidebar */
  padding: 20px;
}

.admin-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-header h2 {
  color: var(--admin-primary-color);
  text-align: center;
  flex-grow: 1;
}

.admin-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--admin-text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.admin-btn-secondary {
  background-color: #6c757d;
  order: -1; /* Para posicionar el botón a la izquierda */
}

.admin-btn-warning {
  background-color: var(--admin-warning-color);
}

.admin-btn-danger {
  background-color: var(--admin-danger-color);
}

.admin-search-bar-container {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.admin-table-responsive {
  overflow-x: auto;
}

.admin-categories-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.admin-categories-table th,
.admin-categories-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.admin-categories-table th {
  background-color: var(--admin-primary-color);
  color: var(--admin-text-color);
}

.admin-categories-table tbody tr:nth-child(even) {
  background-color: var(--admin-table-bg-color);
}

.admin-categories-table .text-end {
  text-align: right;
}

.admin-text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .admin-main-content {
    margin-left: 0;
    padding: 10px;
  }

  .admin-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .admin-btn {
    margin-top: 10px;
    width: 100%;
  }

  .admin-search-bar-container {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 5px;
  }
}

@media (max-width: 576px) {
  .admin-header {
    align-items: center;
  }

  .admin-header h2 {
    margin-bottom: 10px;
  }

  .admin-btn {
    margin-top: 10px;
    width: 100%;
  }

  .admin-search-bar-container {
    width: 100%;
    margin-bottom: 10px;
  }
}
