---
import Layout from "../layouts/Layout.astro";
import LoginForm from '../components/Login'
---

<Layout title="Welcome to Astro.">
	<h1 class="">Hello World from Astro!</h1>
</Layout>

<style></style>